@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
<div class="row no-gutters m-3">

        <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">

            <div class="card-header text-center">

                <h5 class="m-0">Sign up for Car Insurance</h5>

            </div>

            <div class="card-body">

                @using (Html.BeginForm("Create", "Insuree", FormMethod.Post))

                {

                <div class="row no-gutters">

                    <div class="form-group col-md-12">

                        <input name="FirstName" type="text" class="form-control" placeholder="First Name" />

                    </div>

                    <div class="form-group col-md-12">

                        <input name="LastName" type="text" class="form-control" placeholder="Last Name" />

                    </div>

                    <div class="form-group col-md-12">

                        <input name="EmailAddress" type="email" class="form-control" placeholder="Email Address" />

                    </div>

                    <div class="form-group col-md-12">

                        <input name="DateOfBirth" type="date" class="form-control" placeholder="Date of Birth" />

                    </div>

                    <div class="form-group col-md-12">

                        <input name="CarYear" type="number" class="form-control" placeholder="Car Year" />

                    </div>

                    <div class="form-group col-md-12">

                        <input name="CarMake" type="text" class="form-control" placeholder="Car Make" />

                    </div>

                    <div class="form-group col-md-12">

                        <input name="CarModel" type="text" class="form-control" placeholder="Car Model" />

                    </div>

                    <div class="form-group col-md-12">

                        <input name="DUI" type="text" class="form-control" placeholder="DUI" />

                    </div>

                    <div class="form-group col-md-12">

                        <input name="SpeedingTickets" type="number" class="form-control" placeholder="Number of Speeding Tickets" />

                    </div>

                    <div class="form-group col-md-12">

                        <input name="CoverageType" type="text" class="form-control" placeholder="Full or Liability Coverage" />

                    </div>

                    <button type="submit" class="btn btn-block btn-primary">Submit</button>

                </div>

                }

            </div>

        </div>

    </div>